
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}


@section Styles{
    <style type="text/css">
        body, html {
            height: 100%;
        }

        .account-h-100 {
            height: 100% !important;
        }

        .account-align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        .account-container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .account-justify-content-center {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        .account-row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .accountcard {
            min-width: 400px;
            max-width: 400px;
        }

            .accountcard .pmd-checkbox [type=checkbox]:checked,
            .accountcard .pmd-radio [type=radio]:checked,
            .accountcard .pmd-checkbox [type=checkbox]:not(:checked),
            .accountcard .pmd-radio [type=radio]:not(:checked) {
                position: relative !important;
                left: 0 !important;
                margin: 0 !important;
                display: inline !important;
            }
    </style>
}
<div class="account-container account-h-100">
    <div class="account-row account-h-100 account-justify-content-center account-align-items-center">

        <div id="accountcard" class="accountcard">
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/Controller/ResetPassword.js"></script>
    <script>
        resetPassword.init();
    </script>
    <script id="verification-template" type="text/x-jsrender">

        <div class="pmd-card card-default pmd-z-depth">
            <div class="login-card">
                <div class="pmd-card-title card-header-border text-center">
                    <a href="javascript:void(0);"><img width="100" height="100" src="/Resources/Images/hrms_logo.png" alt="Logo"></a>
                    <br />
                    <br />
                    <h3>Reset Password</h3>
                </div>

                <div class="pmd-card-body">
                    <form id="form-verification">
                        <div class="group-fields clearfix row">
                            <div class="col-xs-12">
                                <label class="form-group pure-material-textfield-outlined">
                                    <input id="VerificationSender" name="VerificationSender" data-link="VerificationSender" placeholder=" " type="email" />
                                    <span>Email</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <button type="submit" href="javascript:void(0);" class="btn pmd-ripple-effect btn-primary pmd-btn-raised" style="width:100%!important" id="btn-submitemail">Submit</button>
                    <p class="redirection-link">Already have an account? <a href="/Account/Login" class="register-login">Sign In</a>. </p>
                </div>

            </div>
        </div>
    </script>

    <script id="successVerification-template" type="text/x-jsrender">

        <div class="pmd-card card-default pmd-z-depth">
            <div class="login-card">
                <div class="pmd-card-title card-header-border text-center">
                    <a href="javascript:void(0);"><img width="100" height="100" src="/Resources/Images/SIGIN_LOGO.png" alt="Logo"></a>
                    <h3>A change password link was sent to your email address. Please check your email and follow the instructions.</h3>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <button type="submit" href="javascript:void(0);" class="btn pmd-ripple-effect btn-primary pmd-btn-raised" style="width:100%!important" id="btn-resendVerification">Resend?</button>
                    <br />
                    <br />
                    <a href="/Account/Login" class="register-login">Sign In</a>
                    <br />
                    <br />
                </div>

            </div>
        </div>
    </script>

    <script id="changePassword-template" type="text/x-jsrender">

        <div class="pmd-card card-default pmd-z-depth">
            <div class="login-card">
                <div class="pmd-card-title card-header-border text-center">
                    <a href="javascript:void(0);"><img width="100" height="100" src="/Resources/Images/SIGIN_LOGO.png" alt="Logo"></a>
                    <h3>Create account <span>with <strong>SILUPOST</strong></span></h3>
                </div>

                <div class="pmd-card-body">
                    <form id="form-changePassword">
                        <div class="group-fields clearfix row">
                            <div class="col-xs-12">
                                <label class="form-group pure-material-textfield-outlined">
                                    <input id="NewPassword" type="password" name="NewPassword" data-link="NewPassword" placeholder=" " />
                                    <span>New Password</span>
                                </label>
                            </div>
                        </div>
                        <div class="group-fields clearfix row">
                            <div class="col-xs-12">
                                <label class="form-group pure-material-textfield-outlined">
                                    <input id="ConfirmPassword" type="password" name="ConfirmPassword" data-link="ConfirmPassword" placeholder=" " />
                                    <span>ConfirmPassword</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <button type="submit" class="btn pmd-ripple-effect btn-primary pmd-btn-raised" style="width:100%!important" id="btn-changePassword">Next</button>
                    <br />
                    <br />
                    <p class="redirection-link">Already have an account? <a href="/Account/Login" class="register-login">Sign In</a>. </p>
                </div>

            </div>
        </div>
    </script>

}

