<table id="table-myAppointment" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Appointment Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>