

<table id="table-systemWebAdminRole" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>SystemWebAdminRoleId</th>
            <th>Role Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>