<script id="appointment-status-template" type="text/x-jsrender">
    <div class="group-fields clearfix row">
        <div class="col-xs-12">
            <div class="pull-left">
                <h4>Appointment Status</h4>
                {^{if IsPending}}
                <span class="badge badge-warning" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                {{/if}}
                {^{if IsProcessed}}
                <span class="badge badge-warning" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                {{/if}}
                {^{if IsApproved}}
                <span class="badge badge-info" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                {{/if}}
                {^{if IsCompleted}}
                <span class="badge badge-success" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                {{/if}}
                {^{if IsCanceled}}
                <span class="badge badge-error" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                {{/if}}
                {^{if IsDeclined}}
                <span class="badge badge-error" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                {{/if}}
            </div>
            <div class="pull-right">
                <a href="/Admin/Appointments/" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Back to list">
                    <i class="material-icons pmd-sm">arrow_back</i>
                </a>
                {^{if CanProcess}}
                <button id="btnProcess" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Process appointment">
                    <i class="material-icons pmd-sm">archive</i>
                </button>
                {{/if}}
                {^{if CanCancelProcess}}
                <button id="btnCancelProcess" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Cancel process">
                    <i class="material-icons pmd-sm">unarchive</i>
                </button>
                {{/if}}
                {^{if CanApprove}}
                <button id="btnApprove" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-success pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Approve appointment">
                    <i class="material-icons pmd-sm">done</i>
                </button>
                {{/if}}
                {^{if CanComplete}}
                <button id="btnComplete" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-success pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Mark appointment as Completed">
                    <i class="material-icons pmd-sm">check_circle_outline</i>
                </button>
                {{/if}}
                {^{if CanDecline}}
                <button id="btnDecline" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Decline this appointment">
                    <i class="material-icons pmd-sm">clear</i>
                </button>
                {{/if}}
            </div>
        </div>
    </div>
</script>

<script id="appointment-details-template" type="text/x-jsrender">
    <form id="form-appointment">
        <div class="group-fields row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="AppointmentId" name="AppointmentId" data-link="AppointmentId" />
                    <span>AppointmentId</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="AppointmentDate" name="AppointmentDate" data-link="{formatDate:AppointmentDate}" placeholder=" " />
                    <span>Appointment Date</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="AppointmentTime" name="AppointmentTime" data-link="AppointmentTime" placeholder=" " />
                    <span>Appointment Time</span>
                </label>
            </div>
        </div>
        <div class="group-fields row">
            <div class="col-xs-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="DateSymtomsFirstNoted" name="DateSymtomsFirstNoted" data-link="{formatDate:DateSymtomsFirstNoted}" placeholder=" " />
                    <span>Date symtoms first noted</span>
                </label>
            </div>
        </div>
        <div class="group-fields row">
            <div class="col-xs-12">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="PrimaryReason" name="PrimaryReason" data-link="PrimaryReason" placeholder=" " />
                    <span>Primary Reason</span>
                </label>
            </div>
        </div>
        <div class="group-fields clearfix row">
            <div class="col-xs-12">
                <label class="form-group pure-material-textfield-outlined">
                    <textarea readonly id="DescOfCharOfSymtoms" name="DescOfCharOfSymtoms" data-link="DescOfCharOfSymtoms" placeholder=" "></textarea>
                    <span>Description of characteristics of the symtoms</span>
                </label>
            </div>
        </div>
        <br />
    </form>
</script>

<script id="appointment-patient-template" type="text/x-jsrender">

    <form id="form-patient">
        <div class="group-fields clearfix row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="FirstName" name="FirstName" data-link="FirstName" placeholder=" " />
                    <span>First Name</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="MiddleName" name="MiddleName" data-link="MiddleName" placeholder=" " />
                    <span>Middle Name</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="LastName" name="LastName" data-link="LastName" placeholder=" " />
                    <span>Last Name</span>
                </label>
            </div>
        </div>
        <div class="group-fields clearfix row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="BirthDate" name="BirthDate" data-link="{formatDate:BirthDate}" placeholder=" " />
                    <span>Birth Date</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="GenderName" name="GenderName" data-link="GenderName" placeholder=" " />
                    <span>Gender</span>
                </label>
            </div>
        </div>
        <div class="group-fields clearfix row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="EmailAddress" name="EmailAddress" data-link="EmailAddress" placeholder=" " />
                    <span>Email Address</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="MobileNumber" name="MobileNumber" data-link="MobileNumber" placeholder=" " />
                    <span>Mobile Number</span>
                </label>
            </div>
        </div>
        <div class="group-fields clearfix row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="CivilStatusName" name="CivilStatusName" data-link="CivilStatusName" placeholder=" " />
                    <span>Civil Status</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="Occupation" name="Occupation" data-link="Occupation" placeholder=" " />
                    <span>Occupation</span>
                </label>
            </div>
        </div>
        <div class="group-fields clearfix row">
            <div class="col-xs-12">
                <label class="form-group pure-material-textfield-outlined">
                    <input readonly id="CompleteAddress" name="CompleteAddress" data-link="CompleteAddress" placeholder=" " />
                    <span>Complete Address</span>
                </label>
            </div>
        </div>
    </form>
</script>