

<table id="table-systemWebAdminRolePrivileges" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id </th>
            <th>Privilege Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>