<table id="table-systemUser" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>SystemUserId</th>
            <th></th>
            <th>UserName</th>
            <th>Full Name</th>
            <th>Status</th>
            <th>User Roles</th>
            <th>Email Address</th>
            <th>Mobile Number</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
