
<div class="modal fade" id="modal-progress-circular" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="circular-progress-container">
        <div class="pure-material-progress">
            <progress class="pure-material-progress-circular" />
        </div>
    </div>             
</div>