<div class="modal fade" id="modal-dialog" tabindex="-1" area-labelledby="modal-title" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnSave" data-name="Save" class="btn btn-primary">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-dialog-webcam" tabindex="-1" area-labelledby="modal-title" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="pmd-card-body">
                    <div id="camera_View"></div>
                    <div id="capture_View">
                        <img />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCapture" data-name="Take a Photo" class="btn btn-primary">Take a Photo</button>
                <button id="btnReset" data-name="Reset" class="btn btn-primary">Reset</button>
                <button id="btnSave" data-name="Save" class="btn btn-primary">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-dialog-legalEntityAddress" tabindex="-1" area-labelledby="modal-title" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnSave" data-name="Save" class="btn btn-primary">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-dialog-manageCredentials" tabindex="-1" area-labelledby="modal-title" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body-container"></div>
        </div>
    </div>
</div>

