
@{
    Layout = "~/Views/Error/_Layout.cshtml";
}




<div class="content-primary">
    <h1 class="title">@ViewBag.Error.Title</h1>
    @if (ViewBag.Error != null)
    {
        <b class="description">@ViewBag.Error.Message</b>
        <p class="description">@ViewBag.Error.StackTrace</p>
    }
    <div class="section-footer">
        <a href="/Account/Login" class="btn btn-danger">Logout</a>
        <a href="mailto:name@mail.com" class="btn btn-secondary">Report Error</a>
    </div>
</div>
