<table id="table-patient" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>PatientId</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Address</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody></tbody>
</table>