

<table id="table-crimeIncidentType" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>